<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
</head>
<body>
  <% if (user == 'medico') { %>
    <%- include('./partials/sidebarMedico') %>
  <% } else if(user == 'segretario') { %>
    <%- include('./partials/sidebarSegretario') %>
  <% } %>
  <%- include('./partials/content_filtri') %> 
</body>
</html>