<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
</head>
<body>
  <% if (user == 'medico') { %>
    <%- include('./partials/sidebarMedico') %>
  <% } else if(user == 'infermiere') { %>
    <%- include('./homepage-infermiere') %>
  <% } else if(user == 'segretario') {%>
    <%- include('./homepage-segretario') %>
  <% } %> 
</body>
</html>