<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/sidebarMedico') %>
    <%- include('./partials/schedulazione_terapia') %>
</body>

</html>