<div class="principale">
    <div class="appuntamenti_MedicoHP">
        <div id="wrapper">
            <h4>Appuntamenti Odierni</h4>
            <table id="table-medico">
                <thead>
                    <tr>
                        <th><i class="fa fa-id-badge"></i> ID</th>
                        <th><i class="fa fa-user" aria-hidden="true"></i> Paziente</th>
                        <th><i class="fa fa-calendar-o" aria-hidden="true"></i> Data</th>
                        <th><i class="fa fa-clock-o" aria-hidden="true"></i> Orario</th>
                        <th><i class="fa fa-ticket" aria-hidden="true"></i> Poltrona</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="ID">1</td>
                        <td data-label="Paziente">Mario Rossi</td>
                        <td data-label="Data">02/02/2023</td>
                        <td data-label="Orario">9:00</td>
                        <td data-label="Poltrona">43</td>

                    </tr>
                    <tr>
                        <td data-label="ID">2</td>
                        <td data-label="Paziente">Marco Merola</td>
                        <td data-label="Data">05/02/2023</td>
                        <td data-label="Orario">10:00</td>
                        <td data-label="Poltrona">44</td>
                    </tr>
                </tbody>
            </table>
            <div class="bottone-medicoHP">
                <input type="button" value="Visualizza Appuntamenti">   
            </div>
        </div>
    </div>

    <div class="pazienti_MedicoHP">
        <div id="wrapper">
            <h4>Pazienti</h4>
            <table id="table-medico">
                <thead>
                    <tr>
                        <th><i class="fa fa-id-badge"></i> ID</th>
                        <th><i class="fa fa-user"></i> Paziente</th>
                        <th><i class="fa fa-stethoscope"></i> Malattia</th>
                        <th><i class="fa fa-spinner"></i> Stato Terapia</th>
                        <th><i class="fa fa-ticket"></i> Prossimo Appuntamento</th>
                        <th><i class="fa fa-hospital"></i> Cartella Clinica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="ID">1</td>
                        <td data-label="Paziente">Mario Rossi</td>
                        <td data-label="Malattia">Cancro</td>
                        <td data-label="Stato Terapia">Avanzato</td>
                        <td data-label="Prossimo Appuntamento">12/02/2023</td>
                        <td><input type="button" value="Visualizza"></td>
                    </tr>
                    <tr>
                        <td data-label="ID">2</td>
                        <td data-label="Paziente">Marco Merola</td>
                        <td data-label="Malattia">Tumore</td>
                        <td data-label="Stato Terapia">Avanzato</td>
                        <td data-label="Prossimo Appuntamento">20/02/2023</td>
                        <td><input type="button" value="Visualizza"></td>
                    </tr>
                </tbody>
            </table>
            <div class="bottone-medicoHP">
                <input type="button" value="Visualizza Pazienti">   
            </div>
        </div>
    </div>

    
</div>

<div class="calendario_MedicoHP">
    <h4>qua va il calendario</h4>
</div>
</div>
</div> <!--Container Main end-->
</div> <!--div Sidebar end-->