<div id="wrapper" class="mx-auto">
  <table id="table-infermiere">
    <thead>
      <tr>
        <th>Farmaco</th>
        <th>Descrizione</th>
        <th>Dose</th>
        <th>Stock</th>
        <th>Check</th>
      </tr>
    </thead>
    <tbody>
      <% farmaci.forEach(farmaco=> { %>
        <tr>
          <td data-label="Farmaco">
            <%= farmaco.nome %>
          </td>
          <td data-label="Quantità">
            <%= farmaco.descrizione %>
          </td>
          <td data-label="Orario">
            <%= farmaco.dose %>
          </td>
          <td data-label="Orario">
            <%= farmaco.stock %>
          </td>
          <td data-label="Check"><input class="checkbox" type="checkbox"></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <div id="buttonFarmaci"> <button type="button" class="btn btn-primary" id="submitBtn" disabled>Farmaci pronti</button>
  </div>
</div>


<!-- Modale bootstrap semplificato -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">Farmaci pronti, invio notifica al reparto!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>




</div> <!--div Sidebar end-->



<script>
  let checkboxes = document.querySelectorAll('.checkbox');
  let submitBtn = document.querySelector('#submitBtn');

  for (let i = 0; i < checkboxes.length; i++) {
    checkboxes[i].addEventListener('change', function () {
      if (allChecked()) {
        submitBtn.disabled = false;
      } else {
        submitBtn.disabled = true;
      }
    });
  }

  function allChecked() {
    for (let i = 0; i < checkboxes.length; i++) {
      if (!checkboxes[i].checked) {
        return false;
      }
    }
    return true;
  }

</script>

<script>
  // seleziona il bottone "buttonFarmaci"
  const buttonFarmaci = document.querySelector('#buttonFarmaci button');

  // al click del bottone "buttonFarmaci"
  buttonFarmaci.addEventListener('click', () => {
    // seleziona tutte le checkbox nella tabella
    const checkboxes = document.querySelectorAll('#table-infermiere input[type="checkbox"]');

    // spunta tutte le checkbox e disabilitale
    checkboxes.forEach(checkbox => {
      checkbox.checked = true;
      checkbox.disabled = true;
    });

    // disabilita il bottone "submitBtn"
    document.querySelector('#submitBtn').disabled = true;

    // apri il modale di bootstrap con il messaggio "farmaci pronti?"
    $('#exampleModal').modal('show');
  });


</script>