<div class="container">
  <div class="row p-5">
    <div class="col-sm-8">
      <h5>Appuntamenti Odierni</h5>
      <table class="table table-hover">
        <thead style="background-color: #D6EFFF;">
          <tr>
            <th scope="col"> Paziente</th>
            <th scope="col"> Data</th>
            <th scope="col"> Orario</th>
            <th scope="col"> Poltrona</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data">12</td>
            <td data-label="Orario">1</td>
            <td data-label="Poltrona">2</td>
          </tr>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data">12</td>
            <td data-label="Orario">1</td>
            <td data-label="Poltrona">2</td>
          </tr>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data">12</td>
            <td data-label="Orario">1</td>
            <td data-label="Poltrona">2</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td>
              
              <button type="button" class="btn btn-sm btn-primary">Visualizza altri
              </button>

            </td>
          </tr>

        </tbody>

      </table>

    </div>
    <div class="col-sm-4">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h5>Pazienti</h5>
    <div class="col-sm">
      <table class="table table-hover">
        <thead style="background-color: #D6EFFF;">
          <tr>
            <th scope="col">Paziente</th>
            <th scope="col">Numero Telefonico</th>
            <th scope="col">E-mail</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% 
            for (var i=0; i<pazienti.length && i<6; i++) {
            %>
          <tr>
            <td scope="row"> <%= pazienti[i].nome %> <%= pazienti[i].cognome %></td>
            <td scope="row"> <%= pazienti[i].telefono%> </td>
            <td scope="row"> <%= pazienti[i].email %> </td>
            <td data-label="altreInfo" class="buttonVisualizzaInfo"><button type="button"
                class="btn btn-primary btn-sm">Altre Info</button> </td>          
          </tr>
          <%}%>
          <!--
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Numero Telefonico">1</td>
            <td data-label="E-mail">5</td>
            <td data-label="Prossimo Appuntamento">0</td>
            <td data-label="altreInfo" class="buttonVisualizzaInfo"><button type="button"
                class="btn btn-primary btn-sm">Altre Info</button></td>
          </tr>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Numero Telefonico">1</td>
            <td data-label="E-mail">5</td>
            <td data-label="Prossimo Appuntamento">0</td>
            <td data-label="altreInfo" class="buttonVisualizzaInfo"><button type="button"
                class="btn btn-primary btn-sm">Altre Info</button></td>
          </tr>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Numero Telefonico">1</td>
            <td data-label="E-mail">5</td>
            <td data-label="Prossimo Appuntamento">0</td>
            <td data-label="altreInfo" class="buttonVisualizzaInfo"><button type="button"
                class="btn btn-primary btn-sm">Altre Info</button></td>
          </tr>
        -->
        </tbody>
      </table>

    </div>
  </div>
</div>

</div>
</div>
</div>