<div class="principale">
    <div class="appuntamenti_MedicoHP">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered   table-striped table-sm" style="margin-top:100px">
                    <thead class="table__head">
                        <tr class="winner__table">
                            <th>ID</th>
                            <th><i class="fa fa-user" aria-hidden="true"></i> Paziente</th>
                            <th><i class="fa fa-calendar-o" aria-hidden="true"></i> Data</th>
                            <th><i class="fa fa-clock-o" aria-hidden="true"></i> Orario</th>
                            <th><i class="fa fa-ticket" aria-hidden="true"></i> Poltrona</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="winner__table">
                            <td>1</td>
                            <td>Luigi Miranda</td>
                            <td>21/02/2023</td>
                            <td>9:00</td>
                            <td>708</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pazienti_MedicoHP">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered   table-striped table-sm" style="margin-top:100px">
                    <thead class="table__head">
                        <tr class="winner__table">
                            <th>ID</th>
                            <th><i class="fa fa-user" aria-hidden="true"></i> Paziente</th>
                            <th><i class="fa fa-stethoscope"></i> Malattia</th>
                            <th><i class="fa fa-spinner"></i> Stato Terapia</th>
                            <th><i class="fa fa-ticket" aria-hidden="true"></i> Prossimo Appuntamento</th>
                            <th><i class="fa-light fa-house-medical"></i> Cartella Clinica</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="winner__table">
                            <td>1</td>
                            <td>Luigi Miranda</td>
                            <td>21/02/2023</td>
                            <td>9:00</td>
                            <td>708</td>
                            <td>LINK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="calendario_MedicoHP">
        <div class="container">
            <h3>QUA VA IL CALENDARIO</h3>
        </div>
    </div>
</div>