<div id="calendar">


</div>



</div>
</div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: function (info, successCallback, failureCallback) {
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:3006/appuntamenti',
                    success: function (data) {
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            events.push({
                                title: data[i].title,
                                start: data[i].start,
                                end: data[i].end
                            });
                            console.log(events)
                        }
                        successCallback(events);
                    },
                    error: function () {
                        failureCallback();
                    }
                });
            },
            initialView: 'dayGridMonth',
            timeZone: 'Europe/Rome'
        });
        calendar.render();
    });
</script>