<div class="wrapper">
  <h5>Appuntamenti Odierni</h5>
  <table class="table-segretario">
      <thead>
          <tr>
              <th>Paziente</th>
              <th>Data</th>
              <th>Orario</th>
              <th>Poltrona</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data"><input class = "apptdate" type="date"></td>
            <td data-label="Orario"><input class="appt-time" type="time" name="appt-time"></td>
            <td data-label="Poltrona"><input class="ticketNum" type="number" name="ticketNum"></td>
          </tr>
          <tr>
              <td data-label="Paziente">Oki</td>
              <td data-label="Data"><input class = "apptdate" type="date"></td>
              <td data-label="Orario"><input class="appt-time" type="time" name="appt-time"></td>
              <td data-label="Poltrona"><input class="ticketNum" type="number" name="ticketNum"></td>
          </tr>
          <tr>
            <td data-label="Paziente">Oki</td>
            <td data-label="Data"><input class = "apptdate" type="date"></td>
            <td data-label="Orario"><input class="appt-time" type="time" name="appt-time"></td>
            <td data-label="Poltrona"><input class="ticketNum" type="number" name="ticketNum"></td>
        </tr>
      </tbody>
    </table>
            <div class = "buttonVisualizza"> <button type="button" class="btn btn-primary">Visualizza altri</button>
              </div>   
  </div>
  <div class = wrapper>
  <h5>Pazienti</h5>
  <table class="table-segretario">
    <thead>
        <tr>
            <th>Paziente</th>
            <th>Numero Telefonico</th>
            <th>E-mail</th>
            <th>Prossimo Appuntamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td data-label="Paziente">Oki</td>
          <td data-label="Numero Telefonico"><input class = "appt-number" type="number""></td>
          <td data-label="E-mail"><input class="appt-mail" type="email"></td>
          <td data-label="Prossimo Appuntamento"><input class = "appt-date" type="date"></td>
          <td data-label="altreInfo"><button type="button" class="btn btn-primary">Altre Info</button></td>
        </tr>
        <tr>
          <td data-label="Paziente">Oki</td>
          <td data-label="Numero Telefonico"><input class = "appt-number" type="number""></td>
          <td data-label="E-mail"><input class="appt-mail" type="email"></td>
          <td data-label="Prossimo Appuntamento"><input class = "appt-date" type="date"></td>
          <td data-label="altreInfo"> <button type="button" class="btn btn-primary">Altre Info</button></td>
        </tr>
        <tr>
          <td data-label="Paziente">Oki</td>
          <td data-label="Numero Telefonico"><input class = "appt-number" type="number""></td>
          <td data-label="E-mail"><input class="appt-mail" type="email"></td>
          <td data-label="Prossimo Appuntamento"><input class = "appt-date" type="date"></td>
          <td data-label="altreInfo"> <button type="button" class="btn btn-primary">Altre Info</button></td>
        </tr>
    </tbody>
</table>
  <div class = "buttonVisualizza"> <button type="button" class="btn btn-primary">Visualizza altri</button>
    </div>
</div>

<div class="calendario">
  <h1> Tie Beccati sto  champignogn</h1>
</div>

</div> <!--Container Main end-->
</div> <!--div Sidebar end-->