<div id="calendar">

</div>
<!-- modale per evento -->
<div class="modal fade" id="infoAppuntamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Appuntamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="cf"></p>
                <p id="farmaco"></p>
                <p id="dataDiInizio"></p>
                <p id="dataDiFine"></p>
                <p id="idHidden" hidden></p>
                <button type="button" class="btn btn-primary" id="modificaBtn">Modifica</button>
                <button type="button" class="btn btn-danger" id="deleteBtn">Elimina</button>
            </div>

        </div>
    </div>
</div>

<!-- modale per aggiungi appuntamento -->
<div class="modal fade" id="addAppuntamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Inserisci Appuntamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-50">
                    <form action="addAppuntamento" method="post">
                        <div class="form-group">
                            <label for="cfPaziente">Codice Fiscale</label>
                            <input type="text" class="form-control" name="cfPaziente" id="cfPaziente"
                                placeholder="Example input">
                        </div>
                        <div class="form-group">
                            <label for="farmaco">Farmaco</label>
                            <input type="text" class="form-control" name="farmaco" id="farmaco"
                                placeholder="Another input">
                        </div>
                        <div class="form-group">
                            <label for="datetimepicker">Data e Orario Inizio</label>
                            <input type="datetime-local" class="form-control datetimepicker " id="datetimepicker"
                                name="dataInizio">
                        </div>
                        <div class="form-group">
                            <label for="datetimepicker">Data e Orario Fine</label>
                            <input type="datetime-local" class="form-control datetimepicker " id="datetimepicker"
                                name="dataFine">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: function (info, successCallback, failureCallback) {
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:3006/appuntamenti',
                    success: function (data) {
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            events.push({
                                id: data[i].id,
                                title: data[i].title,
                                start: data[i].start,
                                end: data[i].end
                            });
                            console.log(events)
                        }
                        successCallback(events);
                    },
                    error: function () {
                        failureCallback();
                    }
                });
            },
            dateClick: function (event) {
                $('#addAppuntamento').modal();
            },
            eventClick: function (date, jsEvent, view) {
                const id = date.event.id
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:3006/appuntamenti/' + id,
                    success: function (data) {
                        $('#cf').text(data.cfPaziente);
                        $('#farmaco').text(data.farmaco);
                        $('#dataDiInizio').text(data.dataInizio);
                        $('#dataDiFine').text(data.dataFine);
                        $('#idHidden').text(data._id);
                        $('#infoAppuntamento').modal();
                    },
                    error: function () {
                        failureCallback();
                    }
                });
            },
            initialView: 'dayGridMonth',
            timeZone: 'Europe/Rome'
        });
        calendar.render();
    });
</script>

<!-- funzione per elimina dal calendario -->
<script>
    $("#deleteBtn").click(function () {
        const id = $('#idHidden').text()
        const cf = $('#cf').text()
        $.ajax({
            url: "http://localhost:3006/appuntamenti/" + id,
            type: "DELETE",
            success: function (data) {
                alert(`Appuntamento di ${cf} eliminato correttamente`)
                location.reload();
                
            },
            error: function (error) {

            }
        });
    });
</script>


<script>
    const modBtn = document.getElementById('modificaBtn')
    modBtn.addEventListener('click', event => {
        const id = $('#idHidden').text()
        console.log(id);
        window.location.href = "/modificaAppuntamento?id=" + id;
    });
</script>