<div class="mt-2">
    <h2 class="fw-bold" style="color:#00407F">Gestisci comodamente gli appuntamenti del calendario</h2>

    <ol class=" mt-3 w-50 list-group list-group-numbered">
        <span style="font-weight: bolder;" class="mb-2">Puoi...</span>
        <li class="list-group-item">Inserire un nuovo appuntamento cliccando su qualsiasi giorno del calendario</li>
        <li class="list-group-item">Cliccare su un appuntamento per avere maggiori info</li>
        <li class="list-group-item">Rishedulare in modo istantaneo un appuntamento tramite drag & drop</li>
    </ol>

</div>

<div class="mt-3 mx-auto" style="width: 85%;" id="calendar">

</div>
<!-- modale per evento -->
<div class="modal fade" id="infoAppuntamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Appuntamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="mb-2 list-group list-group-flush">
                    <li id="cf" class="list-group-item"></li>
                    <li id="nomeP" class="list-group-item"></li>
                    <li id="farmaco" class="list-group-item"></li>
                    <li id="dataDiInizio" class="list-group-item"></li>
                    <li id="dataDiFine" class="list-group-item"></li>
                </ul>
                <p id="idHidden" hidden></p>
                <p id="hiddenNome" hidden></p>
                <p id="hiddenCognome" hidden></p>
                <button type="button" class="btn btn-primary" id="modificaBtn">Modifica</button>
                <button type="button" class="btn btn-danger" id="deleteBtn">Elimina</button>
            </div>

        </div>
    </div>
</div>

<!-- modale per aggiungi appuntamento -->
<div class="modal fade" id="addAppuntamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Inserisci Appuntamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-50">
                    <form action="addAppuntamento" method="post">
                        <div class="form-group">
                            <label for="cfPaziente">Codice Fiscale</label>
                            <input type="text" class="form-control" name="cfPaziente" id="cfPaziente"
                                placeholder="Example input">
                        </div>
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" name="nome" id="nome" placeholder="Example input">
                        </div>
                        <div class="form-group">
                            <label for="cognome">Cognome</label>
                            <input type="text" class="form-control" name="cognome" id="cognome"
                                placeholder="Example input">
                        </div>
                        <div class="form-group">
                            <label for="farmaco">Farmaco</label>
                            <input type="text" class="form-control" name="farmaco" id="farmaco"
                                placeholder="Another input">
                        </div>
                        <div class="form-group">
                            <label for="datetimepicker">Data e Orario Inizio</label>
                            <input type="datetime-local" class="form-control datetimepicker " id="datetimepicker"
                                name="dataInizio">
                        </div>
                        <div class="form-group">
                            <label for="datetimepicker">Data e Orario Fine</label>
                            <input type="datetime-local" class="form-control datetimepicker " id="datetimepicker"
                                name="dataFine">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: function (info, successCallback, failureCallback) {
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:3006/appuntamenti',
                    success: function (data) {
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            events.push({
                                id: data[i].id,
                                title: data[i].title,
                                start: data[i].start,
                                end: data[i].end,
                                cfPaziente: data[i].cfPaziente,
                                farmaco: data[i].farmaco,
                                nome: data[i].nome,
                                cognome: data[i].cognome
                            });
                        }
                        console.log(events)
                        successCallback(events);
                    },
                    error: function () {
                        failureCallback();
                    }
                });
            },
            dateClick: function (event) {
                $('#addAppuntamento').modal();
            },
            eventClick: function (date, jsEvent, view) {
                const id = date.event.id
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:3006/appuntamenti/' + id,
                    success: function (data) {

                        $('#cf').text(data.cfPaziente.toUpperCase());

                        $('#nomeP').text(formattaParola(data.nome) + ' ' + formattaParola(data.cognome));
                        $('#farmaco').text(data.farmaco);
                        const options = {
                            year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric',
                            timeZone: 'UTC'
                        };
                        const d_inizio = new Date(data.dataInizio)
                        $('#dataDiInizio').text(d_inizio.toLocaleString('it-IT', options));
                        const d_fine = new Date(data.dataFine)
                        $('#dataDiFine').text(d_fine.toLocaleString('it-IT', options));
                        $('#idHidden').text(data._id);
                        $('#hiddenNome').text(data.nome)
                        $('#hiddenCognome').text(data.cognome)
                        $('#infoAppuntamento').modal();
                    },
                    error: function () {
                        failureCallback();
                    }
                });
            },
            editable: true,
            eventDrop: function (event, delta, revertFunc) {
                // invia una richiesta AJAX per salvare le modifiche apportate all'evento
                const options = {
                    year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric',
                    timeZone: 'UTC'
                };
                console.log(event.event.extendedProps.cfPaziente)
                $.ajax({
                    url: 'http://localhost:3006/appuntamenti/' + event.event.id,
                    data: JSON.stringify({
                        cfPaziente: event.event.extendedProps.cfPaziente,
                        farmaco: event.event.extendedProps.farmaco,
                        dataInizio: event.event.start.toISOString(),
                        dataFine: event.event.end.toISOString(),
                        nome: event.event.extendedProps.nome,
                        cognome: event.event.extendedProps.cognome
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'PATCH',
                    success: function (response) {

                    }
                });
            },

            initialView: 'dayGridMonth',
            timeZone: 'Europe/Rome'
        });
        calendar.render();
    });
</script>
<script>
    function formattaParola(parola) {
        // Converto la parola in minuscolo e ne prendo la prima lettera
        const primaLettera = parola.charAt(0).toLowerCase();
        // Converto la prima lettera in maiuscolo
        const primaLetteraMaiuscola = primaLettera.toUpperCase();
        // Concateno la prima lettera maiuscola con il resto della parola in minuscolo
        const parolaFormattata = primaLetteraMaiuscola + parola.slice(1).toLowerCase();
        return parolaFormattata;
    }
</script>
<!-- funzione per elimina dal calendario -->
<script>
    $("#deleteBtn").click(function () {
        const id = $('#idHidden').text()
        const cf = $('#cf').text()
        const nome = $('#hiddenNome').text()
        const cognome = $('#hiddenCognome').text()
        $.ajax({
            url: "http://localhost:3006/appuntamenti/" + id + "?cf=" + encodeURIComponent(cf) + "&nome=" + encodeURIComponent(nome) + "&cognome=" + encodeURIComponent(cognome),
            type: "DELETE",
            success: function (data) {
                alert(`Appuntamento di ${cf} eliminato correttamente`)
                window.location.href = "/calendario"
            },
            error: function (error) {

            }
        });
    });
</script>


<script>
    const modBtn = document.getElementById('modificaBtn')
    modBtn.addEventListener('click', event => {
        const id = $('#idHidden').text()
        console.log(id);
        window.location.href = "/modificaAppuntamento?id=" + id;
    });
</script>