<div id="wrapper">
    <table id="table-infermiere">
      <thead>
        <tr>
          <th>Farmaco</th>
          <th>Descrizione</th>
          <th>Dose</th>
          <th>Stock</th>
          <th>check</th>
        </tr>
      </thead>
      <tbody>
        <% farmaci.forEach(farmaco=> { %>
          <tr class="far">
            <td data-label="Farmaco"><%= farmaco.nome %> </td>
            <td data-label="Quantità"><%= farmaco.descrizione %></td>
            <td data-label="Orario"><%= farmaco.dose %></td>
            <td data-label="Orario"><%= farmaco.stock %></td>
            <td data-label="Check"><input type="checkbox"></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <div id="buttonFarmaci"> <button type="button" class="btn btn-primary" disabled>Farmaci pronti</button>
    </div>
  </div>

</div>
</div> <!--Container Main end-->
</div> <!--div Sidebar end-->