<div id="wrapper">
    <table id="table-infermiere">
        <thead>
            <tr>
                <th>Farmaco</th>
                <th>Quantità</th>
                <th>Orario</th>
                <th>Check</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Farmaco">Oki</td>
                <td data-label="Quantità">500mg</td>
                <td data-label="Orario">9:00</td>
                <td data-label="Check"><input type="checkbox"></td>
            </tr>
            <tr>
                <td data-label="Farmaco">Oki</td>
                <td data-label="Quantità">500mg</td>
                <td data-label="Orario">9:00</td>
                <td data-label="Check"><input type="checkbox"></td>
            </tr>
            <tr>
                <td data-label="Farmaco">Oki</td>
                <td data-label="Quantità">500mg</td>
                <td data-label="Orario">9:00</td>
                <td data-label="Check"><input type="checkbox"></td>
            </tr>
        </tbody>
    </table>
</div>

</div>
</div> <!--Container Main end-->
</div> <!--div Sidebar end-->