<div class="w-50">
    <form action="addTerapia" method="post">
      <div class="form-group">
        <label for="cfPaziente">Codice Fiscale</label>
        <input type="text" class="form-control" name="cfPaziente" id="cfPaziente" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="farmaco">Farmaco</label>
        <input type="text" class="form-control" name="farmaco" id="farmaco" placeholder="Another input">
        <label for="datetimepicker">Data e Orario Inizio Terapia </label>
      <input type="datetime-local" class="form-control datetimepicker " id="dataInizio" name="dataInizio">
    </div>
    <div class="form-group">
        <label for="FreqTerapia">Frequenza Terapia</label>
        <input type="number" class="form-control" id="frequenzaAppuntamenti" name="frequenzaAppuntamenti">
      </div>
    <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>
  </form>
</div>






</div>
</div>
</div>
  
  
  
  
  
  </div>
  </div>
  </div>