<div class="w-50">
  <form action="addAppuntamento" method="post">
    <div class="form-group">
      <label for="cfPaziente">Codice Fiscale</label>
      <input type="text" class="form-control" name="cfPaziente" id="cfPaziente" placeholder="Example input">
    </div>
    <div class="form-group">
      <label for="farmaco">Farmaco</label>
      <input type="text" class="form-control" name="farmaco" id="farmaco" placeholder="Another input">
    </div>
    <div class="form-group">
      <label for="datetimepicker">Data e Orario Inizio</label>
      <input type="datetime-local" class="form-control datetimepicker " id="datetimepicker" name="dataInizio">
    </div>
    <div class="form-group">
      <label for="datetimepicker">Data e Orario Fine</label>
      <input type="datetime-local" class="form-control datetimepicker " id="datetimepicker" name="dataFine">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>
  </form>
</div>





</div>
</div>
</div>