<div class="w-50">
    <form action="addTerapia" method="post">
      <div class="form-group">
        <label for="cfPaziente">Codice Fiscale</label>
        <input type="text" class="form-control" name="cfPaziente" id="cfPaziente" placeholder="<%= terapia.cfPaziente %> ">
      </div>
      <div class="form-group">
        <label for="farmaco">Farmaco</label>
        <input type="text" class="form-control" name="farmaco" id="farmaco" placeholder="<%= terapia.farmaco %>">
        <label for="datetimepicker">Data</label>
      <input type="date" class="form-control datetimepicker " id="dataInizio" name="dataInizio">
    </div>
    <div class="form-group">
        <label for="FreqTerapia">Frequenza</label>
        <input type="number" class="form-control" id="frequenzaAppuntamenti" placeholder="<%= terapia.frequenzaAppuntamenti %>" name="frequenzaAppuntamenti">
      </div>
    <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>
  </form>
</div>

















</div>
</div>
</div>