<div>
    <p>La priorità di <%= cf %> assegnata al paziente è <%=  priorita %></p>

    <div class="w-50">
        <form>
          <div class="form-group">
            <label for="datetimepicker">Data Inizio</label>
            <input type="date" class="form-control datetimepicker " id="datetimepicker" name="dataInizio">
            
          </div>
          <button type="submit" class="btn btn-primary mt-3">Schedula</button>
        </form>
      </div>

</div>





</div>
</div>
</div>