<div id="body-pd" class="body-sidebar">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="./images/user.png" alt="">
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#"><i class='bx bx-log-out nav_icon'></i> Sign out</a>
              </div>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div class="scrollbar"> <a href="#" class="nav_logo">
                    <div class="logo_img"><img src="./images/chemoSmart_icon.png" alt=""></div>
                    <div class="logo_title"><img src="./images/title_logo.png" alt=""></div>
                </a>
                <div id="accordion">
                    <div class="nav_list"> <a class="nav_link active" data-toggle="collapse" data-toggle="tooltip"
                            href="#collapseMenu1" role="button" aria-expanded="false" aria-controls="collapseMenu2"
                            data-placement="right" title="Gestione pazienti"> <span><i
                                    class='bx bxs-folder nav_icon'></i></span>
                            <span class="nav_name" style="display: none;">Gestione Paziente</span> </a>
                        <div class="collapse" id="collapseMenu1" data-parent="#accordion">
                            <a href="#" class="nav_link" id="collapseMenu1" data-toggle="tooltip" data-placement="right"
                                title="Visualizza paziente"><i class='bx bxs-user nav_icon'></i> <span
                                    class="nav_name" style="display: none;">Visualizza
                                    Paziente</span>
                            </a>
                            <a href="#" class="nav_link" id="collapseMenu1" data-toggle="tooltip" data-placement="right"
                                title="Schedula terapia"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                                    class="nav_name" style="display: none;">Schedula
                                    Terapia</span>
                            </a>
                            <a href="#" class="nav_link" id="collapseMenu1" data-toggle="tooltip" data-placement="right"
                                title="Modifica terapia"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                                    class="nav_name" style="display: none;">Modifica
                                    Terapia</span>
                            </a>
                            <a href="#" class="nav_link" id="collapseMenu1" data-toggle="tooltip" data-placement="right"
                                title="Nuova cartella clinica"> <i class='bx bx-message-square-detail nav_icon'></i>
                                <span class="nav_name" style="display: none;">Nuova cartella<br>
                                    clinica</span>
                            </a>
                        </div>

                    </div>
                    <div class="nav_list scrollbar"> <a class="nav_link" data-toggle="collapse" data-toggle="tooltip"
                            href="#collapseMenu2" role="button" aria-expanded="false" aria-controls="collapseMenu2"
                            data-placement="right" title="Gestione appuntamenti"> <span><i
                                    class='bx bxs-folder nav_icon'></i></span>
                            <span class="nav_name" style="display: none;">Gestione<br>Appuntamenti</span> </a>
                        <div class="collapse" id="collapseMenu2" data-parent="#accordion">
                            <a href="#" class="nav_link" id="collapseMenu2" data-toggle="tooltip" data-placement="right"
                                title="Visualizza paziente"><i class='bx bxs-user nav_icon'></i> <span
                                    class="nav_name" style="display: none;">Visualizza<br>
                                    Calendario</span>
                            </a>
                            <a href="#" class="nav_link" id="collapseMenu2" data-toggle="tooltip" data-placement="right"
                                title="Schedula terapia"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                                    class="nav_name" style="display: none;">Visualizza<br>appuntamenti<br>paziente</span>
                            </a>
                            <a href="#" class="nav_link" id="collapseMenu2" data-toggle="tooltip" data-placement="right"
                                title="Modifica terapia"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                                    class="nav_name" style="display: none;">Nuovo<br>appuntamento</span>
                            </a>
                            <a href="#" class="nav_link" id="collapseMenu2" data-toggle="tooltip" data-placement="right"
                                title="Nuova cartella clinica"> <i class='bx bx-message-square-detail nav_icon'></i>
                                <span class="nav_name" style="display: none;">Rischedula...</span>
                            </a>
                            <a href="#" class="nav_link" id="collapseMenu2" data-toggle="tooltip" data-placement="right"
                                title="Nuova cartella clinica"> <i class='bx bx-message-square-detail nav_icon'></i>
                                <span class="nav_name" style="display: none;">Schedula<br>manualmente...</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100">