.wrapper{
    margin:7%;
    position: relative;
}
.table-segretario { 
    width: 100%; 
    table-layout: fixed;
    border-collapse: collapse; 
    margin: 0 auto;
    margin-right: 50%;
    border: 1px solid #ccc;
}
/* Zebra striping */
.table-segretario tr:nth-of-type(odd) { 
    background: #f2f2f2; 
}
.table-segretario th { 
    background: #E74C3C; 
    color: #fff; 
    font-weight: 600; 
}
.table-segretario td, .table-segretario th { 
    padding: 12px; 
    text-align: left; 
    text-align: center
}
/*Mobile View*/
@media 
only screen and 
    (max-width: 760px){
        .table-segretario td, .table-segretario tr { 
        display: block; 
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-segretario thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table-segretario tr {
        border: 1px solid #E74C3C; 
    }
    .table-segretario tr + tr{
        margin-top: 1.5em;
    }
	.table-segretario td { 
		/* make like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
        background-color: #daeffb;
        text-align: left; 
	}
	.table-segretario td:before { 
        content: attr(data-label);
        display: inline-block;
        line-height: 1.5;
	    margin-left: -100%;
        width: 100%;
		white-space: nowrap;
	}
}
.ticketNum{
    width: 30%;
}
.appt-mail, .appt-number, .apptdate{
    width: 75%;
}
.appt-date{
    width: 50%;
    margin-left: 15%;
}
.appt-visualizza,.buttonAltreInfo{
    background-color: rgb(56, 56, 158);
    width: 95%;
}
.buttonVisualizza{
    position: absolute;
    right: 0;
}
.buttonVisualizza button{
    margin-top: 7%;
}